.FormsContainer>h2{
    margin-bottom: 50px;
}
.FormsContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FormContainer{
    width: 50%;
    max-height: 500px;
    overflow-y: auto;
}
.InputContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px auto;
}
.txt{
    height: 20px;
    width: 75%;
    right: 0;
    border-radius: 20px;
    padding: 0px 20px;
    border: solid gray 1px;
}
.submit{
    width: 100%;
    height: 30px;
    color: white;
    background-color: #160d4b;
    border-radius: 20px;
    border: solid #0c0630 1px;
}
.submit:hover{
    background-color: #170968;
}
textarea{
    width: 75%;
    height: 100px;
}
@media (max-width:1000px){
    .FormContainer{
        width: 60%;
    }
    .resultados{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width:800px){
    .FormContainer{
        width: 80%;
    }
}