*{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto';
}
nav{
    background-color: #160d4b;
    color: white;
    width: 100%;
    height: 50px;
}
nav>.C{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
    margin: 0 auto;
}
.C>div>ul{
    list-style: none;
}
.C>div>ul>li{
    display: inline;
    margin: auto 30px;
}
a{
    text-decoration: none;
    color: white;
}

.CalendarContainer{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.CalendarTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
h1{
    font-size: 50px;
    color: #160d4b;
}
.DiasNombre{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: #160d4b;
    padding: 10px 0;
    color: white;
}
.DiasMes{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.DiasMes>div{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.DiasMes>div:hover{
    background-color: rgb(214, 214, 214);
}
.fallaAlert{
    background-color: #f52d2d;
    border-radius: 10px;
    width: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
