.MainContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: 40px auto 0px;
}
.ticketsContainer{
    grid-column: 1;
    height: 80vh;
    border-right: solid #0b3a64 5px;
    overflow-y: scroll;

}
.Description{
    grid-column: 2;
}
.C>div>ul{
    list-style: none;
}
.C>div>ul>li{
    display: inline;
    margin: auto 30px;
}
.lista{
    list-style: none;
    width: 98%;
}
.listaelement{
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 15px;
}
li:hover{
    background-color: #bebebe;
}
.resumen{
    display: flex;
    justify-content: space-around;
}
header{
    border-bottom: solid black 2px;
    margin-bottom: 15px;
}
.stado{
    background-color: #0b3a64;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}
article>p{
    white-space: initial;
    word-break: break-all;
}